<template>
    <div>
        <div>详情页</div>
        <p @click="goBack">回到上一页</p>
    </div>
</template>

<script>
export default {
    // onLoad(options){
    //     console.log('options...', options);
    // }
    created(){
        console.log('this...', this);
    },
    methods: {
        goBack(){
            wx.navigateBack();
        }
    }

}
</script>

<style>

</style>