<template>
  <div>
    <div>
      <button @click="changeCount('+')">+</button>
      <span>{{count}}</span>
      <button @click="changeCount('-')">-</button>
    </div>
    <div>
      <input type="text" v-model="content" @keydown="e=>{
          if (e.keyCode == 13){
            addTodo(content);
            content = '';
          }
        }">
      <ul>
        <li v-for="(item) in todos" :key="item.id">
          <span>{{item.id}}</span>
          <input type="checkbox" :checked="item.finish" @change="e=>changeTodo(item.id, e.target.checked)">
          <span>{{item.item}}</span>
          <button @click="deleteTodo(item.id)">删除</button>
        </li>        
      </ul>
      <p>已完成的任务</p>
      <ul>
        <li v-for="(item) in finishTodos" :key="item.id">
          <span>{{item.id}}</span>
          <input type="checkbox" :checked="item.finish" @change="e=>changeTodo(item.id, e.target.checked)">
          <span>{{item.item}}</span>
          <button @click="deleteTodo(item.id)">删除</button>
        </li>        
      </ul>
    </div>
  </div>
</template>

<script>
import { ref, reactive, computed, watch, onMounted } from 'vue';

export default {
  name: 'HelloWorld',
  component:{
    
  },
  setup(props, context){
    /** 定义响应式状态
     *  ref包裹普通数据
     *  reactive包裹引用数据
     */ 
    const count = ref(0);
    function changeCount(type){
      count.value = type==='+'?count.value +1: count.value-1;
    }

    const content = ref('');
    const todos = reactive([]);
    function addTodo(item){
      todos.push({
        id: +new Date(),
        item,
        finish: false
      })
    }
    function deleteTodo(id){
      let index = todos.findIndex(item=>item.id===id);
      todos.splice(index, 1);
    }
    function changeTodo(id, checked){
      let index = todos.findIndex(item=>item.id===id);
      todos[index].finish = checked;
    }

    const finishTodos = computed(()=>todos.filter(item=>item.finish));
    watch(todos, (value)=>{
      console.log('监听todo length变化...', todos.length, value);
    }, {
      deep: true,
      immediate: true,
      sync: true,
    })
    onMounted(()=>{
      console.log('mounted');
    })

    return {
      count,
      changeCount,
      content,
      todos,
      finishTodos,
      addTodo,
      deleteTodo,
      changeTodo,
    }
  }
}
</script>

<style>

</style>