<template>
  <div id="worldMap"></div>
</template>

<script>
import * as echarts from "echarts";
import { onMounted, ref } from "vue";
import world from "../../public/assets/world";
const pinyin = require("pinyin")
echarts.registerMap("world", world);

export default {
  setup() {
    let chart = ref(null);
    let mapData = ref(world);

    onMounted(() => {
      // 1. 初始化echarts实利
      chart.value = echarts.init(document.querySelector("#worldMap"));
      renderMap();
      // 添加点击事件
      chart.value.on('click', function(map){
          console.log('arguments...', arguments);
          map.name = map.name.replaceAll(' ', '_');
          if (map.seriesName === 'world'){
              // 请求国家数据
              fetch(`/assets/world/geojson/${map.name}.json`).then(res=>res.json())
              .then(res=>{
                  echarts.registerMap(map.name, res);
                  mapData.value = res;
                  renderMap(map.name);
              })
          }else if (map.seriesName === 'China'){
              let name = getPYName(map.name);
              // 请求省份数据
              fetch(`/assets/china-province/geojson/${name}.json`).then(res=>res.json())
              .then(res=>{
                  echarts.registerMap(name, res);
                  mapData.value = res;
                  renderMap(name);
              })
          }else{
              console.log('mapData...', mapData.value);
          }
      })
    });
    function getPYName(province){
        return pinyin(province, {
            style: pinyin.STYLE_NORMAL
        }).join('');
    }
    function randomData() {
      return Math.random() * 600;
    }
    function renderMap(mapType = "world") {
      console.log("mapData...", mapData);
      const mydata = mapData.value.features.map((item) => {
        return { name: item.properties.name, value: randomData() };
      });
      // 2. 配置options
      const option = {
        //左侧小导航图标
        visualMap: {
          show: true,
          x: "left",
          y: "center",
          splitList: [
            { start: 500, end: 600 },
            { start: 400, end: 500 },
            { start: 300, end: 400 },
            { start: 200, end: 300 },
            { start: 100, end: 200 },
            { start: 0, end: 100 },
          ],
          color: [
            "#5475f5",
            "#9feaa5",
            "#85daef",
            "#74e2ca",
            "#e6ac53",
            "#9fb5ea",
          ],
        },
        series: [
          {
            name: mapType,
            label: {
              normal: {
                show: true, //显示国家，省份，或城市
              },
              emphasis: {
                show: true,
              },
            },
            type: "map",
            mapType: mapType,
            data: mydata,
          },
        ],
      };
      // 3. setOptions
      chart.value.setOption(option);
    }
  },
};
</script>

<style scoped>
div {
  width: 100vw;
  height: 100vh;
}
</style>
