<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style style="scss">
page{
	width: 100%;
	height: 100%;
}
view{
	background: #ff0000;
}
	/*每个页面公共css */
</style>
