<template>
  <div>
	  	<swiper>
			  <swiper-item v-for="item in banners" :key="item.id">
				  <img :src="`http://47.102.145.189:8009${item.imgSrc}`" alt="">
			  </swiper-item>
		</swiper>	
		<button @click="goQueue">排队取号</button>
		<button @click="goBook">预约订座</button>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import {getType	} from '@/services'
export default {
	computed: {
		...mapState({
			banners: state=>state.home.banners
		})
	},
	methods: {
		...mapActions({
			getBanner: 'home/getBanner'
		}),
		goQueue(){
			wx.navigateTo({url: '/pages/webview/index?src='+encodeURIComponent('https://m.mwee.cn/c_webapp/queuelist?cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=40.041053771972656&longitude=116.29269409179688&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtMjnSuLwNB5X-C4yFE7kaNowSWNX-CX-CchY-BMy1GIxn8gxLKDhMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZG2BnFN5GNpzDuz3X-CBcDtfCKWY9rCdViuwX-CQAcRiqcqwrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini&type=hot')})
		},
		goBook(){
			wx.navigateTo({url: '/pages/webview/index?src='+encodeURIComponent('https://m.mwee.cn/c_webapp/booklist?cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=40.041053771972656&longitude=116.29269409179688&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtMjnSuLwNB5X-C4yFE7kaNowSWNX-CX-CchY-BMy1GIxn8gxLKDhMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZG2BnFN5GNpzDuz3X-CBcDtfCKWY9rCdViuwX-CQAcRiqcqwrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini')})
		}
	},
	async created() {
		this.getBanner();
		console.log('index page...', this);
		let result = await getType();
		console.log('getType result:', result);
	}
}
</script>

<style lang="scss" scoped>
page{
	width: 100%;
	height: 100%;
	view{
		background: #ff0000;
	}
}
view{
	background: #ff0000;
}
	/*每个页面公共css */
</style>