<template>
  <div>
    <p>设置支付金额</p>
    <slider
      bindchange="slider1change"
      left-icon="cancel"
      show-value
      min="1"
      max="10000"
      v-model="money"
      @change="changeMoney"
      right-icon="success_no_circle"
    />
    <button @click="payMoney">支付</button>
  </div>
</template>

<script>
import { ref } from "@vue/composition-api";
import { pay } from '@/services'

export default {
  setup(props) {
    let money = ref(1);

    function changeMoney(e){
        money.value = e.detail.value;
    }
   
    async function payMoney(){
        let result = await pay(money.value);
        console.log('result...', result);
        if (result.code === 0){
            const {timeStamp, nonceStr, paySign} = result.data;
            wx.requestPayment({
                timeStamp,
                nonceStr,
                package: result.data.package,
                signType: 'MD5',
                paySign,
                complete: res=>{
                    console.log('res...', res);
                }
            })
        }
    }

    return {
      money,
      changeMoney,
      payMoney
    };
  },
};
</script>

<style>
</style>