<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		},
		created(){
			console.log('app...', this);
		}
	}
</script>


<style lang="scss">
page{
	width: 100%;
	height: 100%;
}
// view{
// 	background: #ff0000;
// }
	/*每个页面公共css */
</style>

