<template>
  <div>
     <div>
        <p @click="navigateTo">NavigateTo详情</p>
        <p @click="redirectTo">RedirectTo详情</p>
        <p>NavigateBack</p>
        <p @click="switchTab">switchTab</p>
        <p @click="reLaunch">reLaunch</p>
        <navigator target="miniProgram" app-id="wx3375420e2c184d34" path="/pages/shop/detail">打开一面而就小程序</navigator>
        <button open-type="share">分享小程序</button>
      </div>
    <section class="wrap">
      <div class="item" v-for="item in list" :key="item.data.id">
        <img :src="item.data.thumb" alt="">
        <p>{{item.data.title}}</p>
        <div>
          <span>¥{{item.data.price}}</span>
          <span>¥{{item.data.oldprice}}</span>
          <span>已售{{item.data.saled}}</span>
        </div>
        <div>
          <span>{{item.data.sortList[item.data.sortList.length - 1]}}</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import request from "@/utils/request";
export default {
  data(){
    return {
      list: []
    }
  },
  onPullDownRefresh(){
    console.log('开始下拉...');
    setTimeout(()=>{
      wx.stopPullDownRefresh();
      console.log('停止下拉...');
    }, 2000);
  },
  onReachBottom(){
    console.log('上拉加载');
  },
  onShareTimeline(){
    return {
      title: '自定义标题',
      imageUrl: 'https://t7.baidu.com/it/u=1595072465,3644073269&fm=193&f=GIF',
      path: '/pages/shop/detail',
      promise: new Promise((resolve, reject)=>{
        resolve({
          title: 'promise标题'
        })
      })
    }
  },
  onShareAppMessage(){
    console.log('arguments....', arguments);
    return {
      title: '自定义标题',
      imageUrl: 'https://t7.baidu.com/it/u=1595072465,3644073269&fm=193&f=GIF',
      path: '/pages/shop/detail',
      promise: new Promise((resolve, reject)=>{
        resolve({
          title: 'promise标题'
        })
      })
    }
  },
  methods: {
    navigateTo(){
      wx.navigateTo({url: '/pages/shop/detail?id=10000'})
    },
    redirectTo(){
      wx.redirectTo({url: '/pages/shop/detail?id=10000'})
    },
    navigateBack(){

    },
    reLaunch(){
      wx.reLaunch({url: '/pages/shop/detail?id=10000'});
    },
    switchTab(){
      wx.switchTab({url: '/pages/shop/index'});
    }
  },
  async created() {
    let result = await request.post(
      "https://capi.mwee.cn/c_msh/mLife/goods/list/queryByTab",
      {
        cityId: 19,
        tabId: 328,
        showPage: 1,
        platform: 0,
        longitude: 116.29844665527344,
        latitude: 39.95933151245117,
        showSort: 1,
        showSortMode: 1,
        pageNo: 1,
        pageSize: 10,
        mwAuthToken:
          "uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtS1UWgatmJx5WzTYs3PX-C6NOHqtqY-BNSAQcx56TOuU3wYRMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZAeKBIPPQV7KwNv4wqzzGJLY-BARToqj7nHuqLxBGMOevtrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z",
        mAuthToken:
          "uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtS1UWgatmJx5WzTYs3PX-C6NOHqtqY-BNSAQcx56TOuU3wYRMBhBHk20pqzLLrwWAX-Cq4yzX-ChX-Csk9vBdT1EflbSDPNZAeKBIPPQV7KwNv4wqzzGJLY-BARToqj7nHuqLxBGMOevtrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z",
        fromw: 1401,
      }
    );
    console.log('result..', result);
    if (result.errNo === 0){
      this.list = result.data.data;
    }
  },
};
</script>

<style>
.wrap{
  display: flex;
  flex-wrap: wrap;
}
.item{
  width: 48%;
  margin: 1%;
}
img{
  width: 100%;
}
</style>