.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgba(0,0,0,.4);
}
.wrap{
    background: var(--bg-body);
}
:global{
    .loading{
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: rgba(0,0,0,.4);
    }
    .container{
        margin-right: auto;
        margin-left: auto;
        padding-top: 1rem;
    }
    /*小屏幕*/
    @media screen and (max-width: 768px) {
        .container{
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    /*平板*/
    @media screen and (min-width: 768px) and (max-width: 992px){
        .container{
            width: 768px; /*no*/
        }
    }
    /*中等屏幕*/
    @media screen and (min-width: 992px) and (max-width: 1200px){
        .container{
            width: 970px; /*no*/
        }
    }
    /*大屏幕，或者宽屏*/
    @media screen and (min-width: 1200px) {
        .container{
            width: 1140px; /*no*/
        }
    }
}
