<template>
  
</template>

<script>
const chooseLocation = requirePlugin('chooseLocation');

export default {
     // 从地图选点插件返回后，在页面的onShow生命周期函数中能够调用插件接口，取得选点结果对象
    onShow () {
        const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
        console.log('location...', location);
    },
    onUnload () {
        // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
        chooseLocation.setLocation(null);
    },
    setup(){
        const key = 'ZVUBZ-J46CU-7IPVI-2N6M4-2EIRV-V7FCM'; //使用在腾讯位置服务申请的key
        const referer = '一面而就'; //调用插件的app的名称
        const category = '生活服务,娱乐休闲';
        
        wx.navigateTo({
            url: 'plugin://chooseLocation/index?key=' + key + '&referer=' + referer +  '&category=' + category
        });
    }
}
</script>

<style>

</style>