<template>
    <div>
        <map 
        show-location
        :longitude="location.longitude"
        :latitude="location.latitude"
        ></map>
        <cover-view class="action">
            <button>定位</button>
            <button @click="goUser">我的</button>
            <button @click="goAddSign">添加面试</button>
        </cover-view>
    </div>
</template>

<script>
import {reactive, onMounted} from '@vue/composition-api'
export default {
    setup(){
        let location = reactive({
            longitude: 0, 
            latitude: 0
        })
        onMounted(()=>{
            wx.getLocation({
                type: 'wgs84',
                success (res) {
                    location.longitude = res.longitude;
                    location.latitude = res.latitude;
                }
            })
        })

        // 去个人中心
        function goUser(){
            wx.navigateTo({url: '/pages/user/index'})
        }

        // 去添加面试
        function goAddSign(){
            wx.navigateTo({url: '/pages/sign/addSign'})
        }

        return {
            location,
            goUser,
            goAddSign
        }
    }
}
</script>

<style>
div{
    position: relative;
}
.action{
    position: absolute;
    bottom: 0;
}
map{
    width: 100vw;
    height: 100vh;
}
</style>