<template>
    <div>
        <picker mode="selector" :range="info.citys" range-key="label" :value="info.current" @change="changeCity">
            {{info.citys[info.current].label}}
        </picker>
        <map :markers="markers" :include-points="markers" @markertap="markerTap"/>
    </div> 
</template>

<script>
import {onMounted, reactive, watch, computed} from '@vue/composition-api';
import {getCityList, getHouse} from '@/services'
export default {
    setup(){
        const info = reactive({
            citys: [],
            current: 0,
            currentId: 0,
            hourseList: []
        })

        onMounted(async () => {
            let result = await getCityList();
            console.log('result...', result);
            if (result.status === 200){
                info.citys = result.body;
                info.currentId = info.citys[info.current].value;
            }
        })

        const markers = computed(() =>{
            return info.hourseList.map((item, index)=>{
                return {
                    id: index,
                    latitude: item.coord.latitude,
                    longitude: item.coord.longitude,
                    label: {
                        bgColor: '#008000',
                        color: '#fff',
                        textAlign: 'center',
                        content: `${item.label}有${item.count}套房源`
                    }
                }
            })
        })

        function changeCity(e){
            info.current = e.target.value;
            info.currentId = info.citys[info.current].value;
        }

        watch(()=>info.currentId, async ()=>{
            let result = await getHouse(info.currentId);
            console.log('hourse...', result);
             if (result.status === 200){
                info.hourseList = result.body;
            }
        })

        function markerTap(e){
            let index = e.detail.markerId;
            let currentId = info.hourseList[index].value;
            if (currentId){
                info.currentId = currentId;
            }
        }

        return {
            info,
            markers,
            markerTap,
            changeCity
        }
    }
}
</script>

<style>
picker{
    height: 70rpx;
    line-height:70rpx;
}
map{
    width: 100vw;
    height: calc(100vh - 70rpx);
}
</style>