<template>
    <div>
        <open-data type="userAvatarUrl"></open-data>
        <open-data type="userNickName"></open-data>
        <button open-type="contact">客服</button>
        <button open-type="share">分享</button>
        <button open-type="openSetting">打开设置</button>
        <button open-type="feedback">意见反馈</button>
        <button @getphonenumber="getPhoneNumber" open-type="getPhoneNumber">获取手机号</button>
        <button @click="goPay">小程序支付</button>
    </div>
</template>

<script>
import {decrypt} from '@/services'

export default {
    setup(props, {root}){
        function goPay(){
            wx.navigateTo({url: '/pages/pay/index'})
        }

        async function getPhoneNumber(e){
            console.log('phone number', e);
            const {iv, encryptedData} = e.detail;
            let result = decrypt({iv, encryptedData});
            consle.log('result', result);
        }
        
        return {
            goPay,
            getPhoneNumber
        }
    }
}
</script>

<style>

</style>