<template>
    <web-view :src="src" @message="getMessage" bindMessage="getMessage"></web-view>
</template>

<script>
export default {
    data(){
        return {
            src: ''
        }
    },  
    methods: {
        getMessage(){
            console.log('arguments...', arguments);
        }
    },
    onShow() {
        this.src = decodeURIComponent(this.$mp.query.src);
    }
}   
</script>

<style>
webview {
    width: 100%;
    height: 100%;
}
</style>