<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue2的响应式原理</title>
    <style>
        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="root">
        <div>
            <div class="profile">
                <img :src="film.thumb" alt="">
                <p>电影名称：{{film.title}}</p>
                <p>上映时间：{{film.year}}</p>
                <p>演员列表：{{roles}}</p>
            </div>
            <ul>
                <li v-for="(item, index) in list" :key="index">{{item}}</li>
            </ul>
            <button @click="addCount">添加计数</button>
            <div>
                <button @click="showDescriptor">显示简介</button>
                <p v-if="film.showDescriptor">{{film.descriptor}}</p>
            </div>
        </div>
    </div>

    <script type="module">
        import MVVM from './mvvm.js';
        const vm = new MVVM({
            el: '#root',
            data: {
                film: {
                    thumb: 'https://gimg2.baidu.com/image_search/src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20181110%2F875cf1388c8f4fbfaf3b8d1797e15564.jpeg&refer=http%3A%2F%2F5b0988e595225.cdn.sohucs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1634605958&t=593f296a3e88bdec6f717a022bff4a54',
                    title: '战狼2',
                    year: '2015年',
                    showDescriptor: false,
                    descriptor: '《战狼》是由吴京执导的现代军事战争片，该片由吴京、余男、倪大红、斯科特·阿金斯、周晓鸥等主演。该影片属于国内首部3D动作战争电影，历时七年全力打造，《战狼》真实呈现了一场中外边境战争，也让堪称“东方之狼”的特种兵战队及高能战士首次登陆大银幕。讲述的是小人物成长为拯救国家和民族命运的孤胆英雄的传奇故事。'
                },
                list: [1,2,3,4,5]
            },
            computed: {
                roles(){
                    return  '吴京，倪大红，卢靖姗，弗兰克'
                }
            },
            methods: {
                showDescriptor(e){
                    this.film.showDescriptor = !this.film.showDescriptor;
                },
                addCount(e){
                    this.list = [...this.list, +new Date()];
                    console.log('list...', this);
                }
            }
        });
    </script>
</body>
</html>