<template>
  <div>
    <swiper autoplay>
      <swiper-item v-for="item in indexStore.banners" :key="item.id">
        <img :src="item.picUrl" alt="" mode="widthFix" />
      </swiper-item>
    </swiper>
    <!-- 服务端下发的配置 -->
    <widget :widgets="widgets"></widget>
  </div>
</template>

<script>
import { getShopPage } from "@/services";
import { ref, onMounted, computed, watch, toRefs, reactive } from "@vue/composition-api";
import widget from '@/components/widget'

export default {
    components: {
        widget,
    },
    setup(props, { root }) {
        let { $store, $router, $route } = root;
        console.log("arguments...", arguments, $store);
        getShopPage();

        // const indexStore = computed(() => $store.state.index);
        // console.log("indexStore...", indexStore);

        const indexStore = reactive({
            widgets: $store.state.index.widgets
        })

        setInterval(() =>{
            indexStore.widgets = indexStore.widgets.length?[]: $store.state.index.widgets;
        }, 3000);
        // commit mutation
        // $store.commit('index/getShopPage', {});
        // dispatch action
        // $store.dispatch('index/getShopPage', {});
        // onMounted()

        return {
            // ...indexStore,
            // ...{...toRefs(indexStore)},
            ...toRefs(indexStore)
        };
    },
};
</script>

<style>
</style>